html,
body,
.KosmikWrapper,
.fb3d-modal,
.mount-container,
.main {
  height: 100vh !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.KosmikWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.fb3d-modal-shadow {
  overflow: hidden;
}

.fb3d-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  pointer-events: none;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s step-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb3d-modal.visible {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.mount-container {
  width: 100%;
  height: 100%;
}

.fb3d-modal .mount-container {
  position: absolute;
  z-index: 101;
}

.flipbook-instance {
  width: 100%;
  height: 100%;
}

.fb3d-modal .cmd-close {
  font-size: 24px;
  color: #cccccc;
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 102;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.fb3d-modal .cmd-close:active {
  font-size: 22px;
  padding-top: 1px;
  padding-right: 1px;
}

.fb3d-modal .cmd-close:hover {
  color: #eeeeee;
  transition: color 0.15s ease-out;
}